.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #626262;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

header{
  padding: 75px 0 0 0;
  
}

header nav{
  width: 640px;
  margin: 0 auto;
}

nav ul{
  width: 640px;
  display: inline-block;
}

nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.nav_1{
  margin:0 118px 0 34px;
}

.nav_2{
  margin-right: 98px;
}

.nav_3{
  margin-right: 90px;
}

main{
  display:block;
  margin: 0 auto;
  width: 905px;
}

article{
  display: inline-block;
  width: 425px;
  height: 610px;
}

.side_left{
  float:left;
}
.side_right{
  float:right;
}

article img{
  margin: 100px 0 25px 0;
}

article span{
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;

}

article h2{
  font-size: 30px;
  margin: 25px 0 35px 0;
  line-height: 29px;
  font-weight: 100;
}

article p{
  height: 65px;
  overflow: hidden;
  line-height: 22px;
}

main button{
  display: block;
  margin: 0 auto;
  width: 165px;
  height: 65px;
  background-color: #fff;
  margin-top: 55px;
  margin-bottom: 70px;
  font-size: 20px;
}

button:focus{
  cursor: pointer;
}
